{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="form-background col-sm-12 col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button class="btn btn-secondary" type="submit">Reset</button>
            </form>
        </div>
        <div class="col-md-6 d-none d-sm-block" id="login-bground">
            <h1 class="text-center city-name">New York</h1>
        </div>
    </div>
</div>
{% endblock %}